/* body {
  background-color: #f4f6f9;
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
} */

.search-container {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: all 0.3s ease;
  border: 1px solid #171616;
  margin-bottom: 2rem;
}

.search-container:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.form-control.search-input {
  border: none;
  background: transparent;
  padding-left: 20px;
  font-size: 1rem;
  height: 50px;
}

.form-control.search-input:focus {
  box-shadow: none;
  outline: none;
}

.btn-search {
  background-color: #051b31;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  transition: all 0.3s ease;
}

.btn-search:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.search-icon {
  color: #6c757d;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
