#chat2 .form-control {
  border-color: transparent;
}

#chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
#chatInput {
  flex: 1;
  margin-left: 8px;
  border-radius: 8px;
  padding: 10px;
  min-height: 44px;
}
