.auth-wrapper {
  background-image: url("../../assets/farm-bg.png");
  background-size: cover;
  background-position:center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.45); /* semi-transparent white */
  box-shadow: 0 0 10px rgba(7, 6, 6, 0.1); /* subtle shadow */
  border-radius: 10px;
  padding: 2rem;
  width: 350px;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.toggle-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  background: #eee;
  cursor: pointer;
  font-weight: bold;
}

.toggle-buttons button.active {
  background: #0052D4;
  color: white;
  border-radius: 5px;
}

.auth-form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-form button {
  width: 100%;
  background: #0052D4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
